<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="LevelDir">D:\Disassembly\S2GG_Shinsaku\layout\ugz</entry>
<entry key="BlocksetDir">D:\Disassembly\S2GG_Shinsaku\mappings\ugz</entry>
<entry key="TilesetDir">D:\Disassembly\S2GG_Shinsaku</entry>
<entry key="PaletteDir">D:\Disassembly\S2GG_Shinsaku\palettes</entry>
</properties>
